body {
	background: #ccc;
	padding: 30px;
	font-family: 'Muli', sans-serif;
}

a:link {
	color: #2ED8FB;
}

a:visited {
	color: #2ED8FB;
}

a:active {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: #1DC7EA;
	text-decoration: none;
}

h1 {
	font-weight: 500;
	font-size: 32px;
	color: #666;
}

h2 {
	font-weight: 500;
	font-size: 28px;
	color: #777;
}

h3 {
	font-weight: 500;
	font-size: 22px;
	color: #888;
	vertical-align: middle;
}

h3 small {
	margin-top: 5px;
}

h4 {
	font-weight: 400;
	font-size: 14px;
	color: #999;
}

.nav-tabs>li>a {
	background-color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover {
	font-weight: bold;
	color: #666;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}


#tabs, #panes {
	padding: 0px 0px;
}

#submit-button {
	margin-top: 15px;
}


/*.col-sm-1 {
	padding: 0px;
}

.col-sm-8 {
	padding: 0px;
}*/

.nav-tabs {
	margin-top: 10px;
}

.tabs-left {
	border: 0px;
}

.card-pane {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
	box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
	background-color: white;
	border-radius: 5px;
	width: 100%;
	overflow: hidden;
}

.content {
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 25px;
}

.title {
	margin-top: -10px;
}

.location {
	margin-top: 25px;
	margin-bottom: 35px;
}

#profile {
	background: linear-gradient(170deg, rgba(157,213,58,0) 35%,rgba(161,213,79,0) 35%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 100%), url('../img/pexels-photo.jpg');
	background-size: 100%;
	background-position: fixed;
}

#headshot {
	background-color: white;
	background-image: url('../img/me_cropped.jpg');
	background-size: cover;
	border: solid 3px lightGray;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	margin-top: 100px;
}

.icon-label {
	color: #999;
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: 300;
	text-transform: uppercase;
}

.icon {
	display: block;
	font-size: 28px;
	color: gray;
}

.click-button {
	width: 100%;
	background-color: orange;
	cursor: pointer;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	color: white;
}

.click-button:hover {
	background-color: lightOrange;
}

/* Landscape phones and down */
@media (max-width: 767px) {
	body {
		padding: 0px;
		overflow: hidden;
	}

	.card-pane {
		height: 100vh;
		position: relative;
		border-radius: 0px;
	}

	.content {
		padding-bottom: 75px;
		height: 100vh;
	}

	.content, .click-button {
		border-radius: 0px;
	}

	.click-button {
		position: absolute;
		bottom: 0px;
	}

	.nav {
		margin: 0px;
	}

	#tabs {
		visibility: hidden;
		float: left;
	}
}