body {
	background: #ccc;
	padding: 30px;
	font-family: 'Muli', sans-serif;
}

/* Links */

a:link {
	color: #2ED8FB;
	font-weight: bold;
}

a:visited {
	color: #2ED8FB;
}

a:active {
	color: orange;
	text-decoration: none;
}

a:hover {
	color: #1DC7EA;
	text-decoration: none;
}

/* Headers */

h1 {
	font-weight: 500;
	font-size: 32px;
	color: #666;
}

h2 {
	font-weight: 500;
	font-size: 28px;
	color: #777;
}

h3 {
	font-weight: 500;
	font-size: 22px;
	color: #888;
	vertical-align: middle;
}

h3 small {
	margin-top: 5px;
}

h4 {
	font-weight: 400;
	font-size: 14px;
	color: #999;
}

/* Nav & Tabs */

#tabs, #panes {
	padding: 0px 0px;
}

#mobile-tabs {
	display: none;
}

.tabs-left {
	border: 0px;
}

.nav-tabs {
	margin-top: 10px;
}

.nav-tabs>li {
	margin: 0px;
}

#mobile-tabs > .nav-tabs > li > a {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#tabs > .nav-tabs > li > a {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.nav-tabs > li > a, .nav-tabs > li.active > a {
	height: 50px;
	padding: 15px 10px;
}

.nav-tabs > li > a {
	color: #AAA;
	background-color: #EEEEEE;
	border: solid 1px #EEEEEE;
}

.nav-tabs > li > a:hover {
	color: #666;
	background-color: #DFDFDF;
	border: solid 1px #DFDFDF;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover {
	background-color: #FFFFFF;
	font-weight: bold;
	color: #666;
	border: solid 1px rgb(221, 221, 221);
}

/* Divs */

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.card-pane {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
	box-shadow: 0px 0px 5px 0px rgba(153,153,153,1);
	background-color: white;
	border-radius: 5px;
	width: 100%;
	overflow: hidden;
}

.content {
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 25px;
}

.title {
	margin-top: -10px;
}

.location {
	margin-top: 25px;
	margin-bottom: 35px;
}

#profile {
	background: linear-gradient(170deg, rgba(157,213,58,0) 35%,rgba(161,213,79,0) 35%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 100%), url('../img/pexels-photo.jpg');
	background-size: 100%;
	background-position: fixed;
}

/* Components */

#headshot {
	background-color: white;
	background-image: url('../img/me_cropped.jpg');
	background-size: cover;
	border: solid 3px lightGray;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	margin-top: 100px;
}

#submit-button {
	margin-top: 15px;
	margin-bottom: 15px;
}

.icon {
	display: block;
	font-size: 28px;
	color: gray;
}

.icon-label {
	color: #999;
	letter-spacing: 1px;
	font-size: 10px;
	font-weight: 300;
	text-transform: uppercase;
}

.click-button {
	width: 100%;
	background-color: #ff920a;
	cursor: pointer;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	color: white;
}

.click-button:hover {
	background: #ffaf4b; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
}

/* Form */

.form-control:focus {   
	border-color: orange;
	box-shadow: none;
	outline: 0 none;
}

/* Landscape phones and down */

@media (max-width: 767px) {

	body {
		padding: 0px;
		overflow: hidden;
	}

	.card-pane {
		height: 100vh;
		position: relative;
		border-radius: 0px;
	}

	.content {
		margin-top: 50px;
		padding-bottom: 100px;
		height: 100vh;
	}

	.content, .click-button {
		border-radius: 0px;
	}

	.click-button {
		position: absolute;
		bottom: 0px;
		float: left;
	}

	.nav {
		margin: 0px;
	}

	ul.nav.nav-tabs {
		border: none;
	}

	#tabs {
		display: none;
	}

	#profile {
		background: white;
	}

	#headshot {
		margin-top: 20px;
	}

	#mobile-tabs {
		display: block;
		float: left;
		z-index: 1;
		padding: 0px;
		background-color: lightGray;
		font-size: 12px;
	}

	#mobile-tabs > ul > li > a {
		width: 25vw;
		height: 50px;
		margin-right: 0px;
		padding: 15px 10px;
		border-bottom: solid 1px rgb(221, 221, 221);
	}

	#mobile-tabs > ul > li.active > a {
		border-bottom: 0px;
	}


}